@import '../../../styles/variables.scss';

.navbar {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  padding: 1.2rem 0;
  border-bottom: 2px solid $colorFour;
  font-family: $fontOne;

  .navbar__wrapper {
    width: 100%;
    max-width: 1120px;
    display: flex;
    margin: 0 auto;
    list-style: none;
    position: relative;
  }
}
