@import '../../../styles/variables.scss';

.navbar__link {
  color: $colorThree;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 1rem;

  &.navbar__link--main {
  
  } 

  &.navbar__link--sub {
  
    color: $colorOne;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
}
