@import '../../../styles/variables.scss';

.navbar__sub {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #fff;
  color: $colorOne;
  border-bottom: 2px solid $colorFour;

  & .navbar__sub-mainTitle {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
  }

  & .navbar__sub-link {
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;

  }
}
